.inputarea {
    text-align: center;
    vertical-align: middle;
}

.spacing {
    margin-right: 10px
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

app-renderer {
    text-align: center;
    vertical-align: middle;
}